.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My Component */
.myComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: red;
}

.cardView {
  background-color: white;
  padding: 48px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputItem {
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  margin-bottom: 4px;
  font-size: large;
  padding-left: 8px;
  padding-right: 8px;
}

.submitButton {
  background-color: red;
  height: 48px;
  border-width: 0px;
  border-radius: 8px;
  margin-top: 24px;
  font-size: larger;
  font-weight: 400;
  color: white;
}
